.echoeback-logo-250-x-150-px1 {
  height: 66px;
  width: 158px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.content18 {
  height: 27px;
  width: 63px;
}
.link-one1,
.link-three1,
.link-two1,
.team1 {
  position: relative;
  line-height: 150%;
  cursor: pointer;
}
.link-one1 {
  white-space: nowrap;
}
.link-three1,
.link-two1,
.team1 {
  display: inline-block;
}
.link-two1 {
  min-width: 95px;
  white-space: nowrap;
}
.link-three1,
.team1 {
  min-width: 62px;
}
.team1 {
  min-width: 40px;
}
.chevron-down-icon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.column9,
.nav-link-dropdown1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.column9 {
  flex: 1;
  overflow: hidden;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.button23 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 32px;
}
.button22 {
  width: 72px;
  background-color: var(--color-steelblue-200);
  border: 1px solid var(--color-steelblue-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-lgi);
  cursor: pointer;
}
.button25 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-regular-semi-bold);
  color: var(--color-neutral-white);
  text-align: left;
  display: inline-block;
  min-width: 110px;
}
.actions6,
.button24 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button24 {
  cursor: pointer;
  border: 1px solid var(--color-steelblue-200);
  padding: var(--padding-7xs) var(--padding-lgi);
  background-color: var(--color-steelblue-200);
  white-space: nowrap;
}
.button24:hover,
.button26:hover,
.button28:hover {
  border: 1px solid var(--color-steelblue-100);
  box-sizing: border-box;
}
.button24:hover,
.button26:hover {
  background-color: var(--color-steelblue-100);
}
.actions6 {
  gap: var(--gap-base);
  color: var(--color-mintcream-100);
}
.column8,
.container4,
.navbar-11 {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.column8 {
  width: 707px;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-13xl);
}
.container4,
.navbar-11 {
  align-self: stretch;
}
.container4 {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.navbar-11 {
  background-color: var(--color-mintcream-200);
  border-bottom: 1px solid var(--link-primary);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-10xs) var(--padding-45xl) var(--padding-12xs);
  position: sticky;
  top: 0;
  z-index: 99;
  text-align: left;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--color-neutral-neutral-darkest);
  font-family: var(--text-regular-semi-bold);
}
.medium-length-hero {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 58px;
  font-weight: 400;
  font-family: inherit;
}
.column10 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 400px;
  max-width: 100%;
}
.button27,
.lorem-ipsum-dolor1 {
  position: relative;
  line-height: 150%;
}
.lorem-ipsum-dolor1 {
  align-self: stretch;
}
.button27 {
  font-size: var(--text-regular-semi-bold-size);
  font-family: var(--text-regular-semi-bold);
  color: var(--background-color-success);
  text-align: left;
  display: inline-block;
  min-width: 81px;
}
.button26 {
  cursor: pointer;
  border: 1px solid var(--color-steelblue-200);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: var(--color-steelblue-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button29 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-regular-semi-bold);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 104px;
}
.button28 {
  cursor: pointer;
  border: 1px solid var(--color-steelblue-200);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: var(--color-mintcream-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button28:hover {
  background-color: rgba(224, 230, 224, 0.6);
}
.actions7,
.column11,
.content19 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.actions7 {
  flex-direction: row;
  padding: var(--padding-base) 0 0;
  gap: var(--gap-base);
}
.column11,
.content19 {
  max-width: 100%;
}
.column11 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
  min-width: 400px;
  font-size: var(--text-medium-normal-size);
  color: var(--link-primary);
  font-family: var(--text-small-link);
}
.content19 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-61xl);
}
.placeholder-lightbox {
  align-self: stretch;
  height: 738px;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), #ccc;
  overflow: hidden;
  flex-shrink: 0;
}
.header-17 {
  align-self: stretch;
  background-color: var(--color-darkgray-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-steelblue-200);
  font-family: var(--heading-desktop-h2);
}
.subheading1 {
  width: 57px;
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 57px;
}
.heading11,
.text15 {
  align-self: stretch;
  position: relative;
}
.heading11 {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
}
.text15 {
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--link-primary);
}
.content20,
.section-title2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content20 {
  align-self: stretch;
  gap: var(--gap-5xl);
  font-size: var(--heading-desktop-h2-size);
  color: var(--color-steelblue-200);
  font-family: var(--heading-desktop-h2);
}
.section-title2 {
  width: 768px;
  gap: var(--gap-base);
  max-width: 100%;
}
.placeholder-image-icon5 {
  height: 240px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  display: none;
}
.heading12,
.placeholder-image-icon5,
.text16 {
  align-self: stretch;
  position: relative;
}
.heading12 {
  margin: 0;
  font-size: inherit;
  line-height: 130%;
  font-weight: 400;
  font-family: inherit;
}
.text16 {
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-regular-semi-bold);
  color: var(--link-primary);
}
.column12,
.content22 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.content22 {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-5xl);
}
.column12 {
  flex: 1;
  overflow: hidden;
  align-items: flex-start;
  gap: var(--gap-13xl);
  min-width: 304px;
  max-width: 100%;
}
.placeholder-image-icon6 {
  height: 240px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  display: none;
}
.heading13,
.placeholder-image-icon6,
.text17 {
  align-self: stretch;
  position: relative;
}
.heading13 {
  margin: 0;
  font-size: inherit;
  line-height: 130%;
  font-weight: 400;
  font-family: inherit;
}
.text17 {
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-regular-semi-bold);
  color: var(--link-primary);
}
.column13,
.content23 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.content23 {
  align-self: stretch;
  align-items: center;
  gap: var(--gap-5xl);
}
.column13 {
  flex: 1;
  overflow: hidden;
  align-items: flex-start;
  gap: var(--gap-13xl);
  min-width: 304px;
  max-width: 100%;
}
.placeholder-image-icon7 {
  height: 240px;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  display: none;
}
.heading14,
.placeholder-image-icon7,
.text18 {
  align-self: stretch;
  position: relative;
}
.heading14 {
  margin: 0;
  font-size: inherit;
  line-height: 130%;
  font-weight: 400;
  font-family: inherit;
}
.text18 {
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-regular-semi-bold);
  color: var(--link-primary);
}
.content24 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.column14,
.row2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.column14 {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  min-width: 304px;
}
.row2 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-29xl);
}
.button31 {
  position: relative;
  line-height: 150%;
}
.button30 {
  height: 50px;
  background-color: var(--color-mintcream-200);
  border: 1px solid var(--color-steelblue-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
  white-space: nowrap;
}
.button33 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  white-space: nowrap;
}
.icon-chevron-right1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button32 {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  color: var(--link-primary);
}
.actions8,
.content21,
.layout-2391 {
  align-items: center;
  justify-content: flex-start;
}
.actions8 {
  width: 200px;
  height: 64px;
  display: none;
  flex-direction: row;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--text-regular-semi-bold-size);
  font-family: var(--text-regular-semi-bold);
}
.content21,
.layout-2391 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--gap-29xl);
  max-width: 100%;
  font-size: var(--heading-desktop-h4-size);
  color: var(--color-steelblue-200);
  font-family: var(--heading-desktop-h2);
}
.layout-2391 {
  background-color: var(--color-mintcream-200);
  overflow: hidden;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: center;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--border-success);
  font-family: var(--text-regular-semi-bold);
}
.heading15,
.text19 {
  align-self: stretch;
  position: relative;
}
.heading15 {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
}
.text19 {
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--color-neutral-neutral-dark);
}
.section-title3 {
  width: 560px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.star-five-icon,
.star-four-icon,
.star-one-icon,
.star-three-icon,
.star-two-icon {
  height: 18.9px;
  width: 20px;
  position: relative;
  min-height: 19px;
}
.stars {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.quote1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 400;
  font-family: inherit;
}
.avatar-image-icon1 {
  width: 56px;
  height: 56px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.avatar-image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.avatar-names,
.avatar-titles {
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.avatar-names {
  font-weight: 600;
  min-width: 68px;
}
.avatar-titles {
  min-width: 108px;
}
.avatar-content-wrapper,
.avatar-content1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.avatar-content-wrapper {
  padding: var(--padding-6xs-5) 0 0;
}
.divider1 {
  align-self: stretch;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--link-primary);
  box-sizing: border-box;
}
.logos-icon1 {
  height: 56px;
  width: 140px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.avatar1,
.column15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.avatar1 {
  height: 61px;
  flex-direction: row;
  gap: var(--gap-xl);
  font-size: var(--text-regular-semi-bold-size);
  color: var(--link-primary);
  font-family: var(--text-regular-semi-bold);
}
.column15 {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-13xl);
  min-width: 406px;
  max-width: 100%;
}
.vector-icon,
.vector-icon1,
.vector-icon2,
.vector-icon3,
.vector-icon4 {
  height: 18.9px;
  width: 20px;
  position: relative;
  min-height: 19px;
}
.stars1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.quote2 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 140%;
  font-weight: 400;
  font-family: inherit;
}
.avatar-image-icon2 {
  width: 56px;
  height: 56px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.avatar-image-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs-5) 0 0;
}
.text20 {
  font-weight: 600;
  display: inline-block;
  min-width: 82px;
}
.text20,
.text21 {
  position: relative;
  line-height: 150%;
}
.avatar-content-container,
.avatar-content2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.avatar-content-container {
  padding: var(--padding-6xs-5) 0 0;
}
.divider2 {
  align-self: stretch;
  width: 1px;
  position: relative;
  border-right: 1px solid var(--link-primary);
  box-sizing: border-box;
}
.logos-icon2 {
  height: 56px;
  width: 140px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.avatar2,
.column16,
.content25,
.testimonial-5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.avatar2 {
  height: 61px;
  flex-direction: row;
  gap: var(--gap-xl);
  font-size: var(--text-regular-semi-bold-size);
  color: var(--link-primary);
  font-family: var(--text-regular-semi-bold);
}
.column16,
.content25,
.testimonial-5 {
  max-width: 100%;
}
.column16 {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-13xl);
  min-width: 406px;
}
.content25,
.testimonial-5 {
  align-self: stretch;
}
.content25 {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-45xl);
  font-size: var(--heading-desktop-h6-size);
  color: var(--color-neutral-neutral-dark);
}
.testimonial-5 {
  background-color: var(--color-darkgray-100);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: left;
  font-size: var(--heading-desktop-h2-size);
  color: var(--color-steelblue-200);
  font-family: var(--heading-desktop-h2);
}
.heading16 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
}
.body,
.content26 {
  align-self: stretch;
}
.body {
  position: relative;
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--link-primary);
}
.content26 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.button35 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-regular-semi-bold);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 88px;
}
.button34 {
  cursor: pointer;
  border: 1px solid var(--link-primary);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: var(--color-goldenrod);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button34:hover,
.button38:hover {
  background-color: var(--color-darkgoldenrod);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.button37 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 101px;
}
.actions9,
.button36 {
  display: flex;
  flex-direction: row;
}
.button36 {
  background-color: var(--color-steelblue-200);
  border: 1px solid var(--link-primary);
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-4xl);
  white-space: nowrap;
  cursor: pointer;
}
.actions9 {
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) 0 0;
  gap: var(--gap-base);
  font-size: var(--text-regular-semi-bold-size);
  color: var(--color-mintcream-100);
  font-family: var(--text-regular-semi-bold);
}
.column17,
.placeholder-image-icon8 {
  flex: 1;
  max-width: 100%;
  min-width: 400px;
}
.column17 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.placeholder-image-icon8 {
  height: 400px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.container5,
.cta-1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.container5 {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gap-61xl);
}
.cta-1 {
  background-color: var(--color-darkgray-100);
  border: 1px solid var(--link-primary);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-91xl) var(--padding-44xl);
  text-align: left;
  font-size: var(--heading-desktop-h2-size);
  color: var(--border-success);
  font-family: var(--heading-desktop-h2);
}
.company-logo-icon1 {
  width: 63px;
  height: 27px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.join-our-newsletter1 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.placeholder1 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--text-regular-semi-bold);
  font-size: var(--text-regular-semi-bold-size);
  background-color: transparent;
  height: 24px;
  flex: 1;
  position: relative;
  line-height: 150%;
  color: var(--color-neutral-neutral);
  text-align: left;
  display: inline-block;
  min-width: 205px;
  max-width: 100%;
  padding: 0;
}
.text-input1 {
  flex: 1;
  background-color: var(--color-neutral-white);
  border: 1px solid var(--color-neutral-neutral-dark);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-2xs);
  min-width: 237px;
  max-width: 100%;
}
.button39 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-regular-semi-bold);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 71px;
}
.button38,
.form1 {
  display: flex;
  flex-direction: row;
}
.button38 {
  cursor: pointer;
  border: 1px solid var(--color-neutral-neutral-dark);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: transparent;
  align-items: center;
  justify-content: center;
}
.button38:hover {
  background-color: var(--color-dimgray-200);
  border: 1px solid var(--color-dimgray-100);
}
.form1 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.by-subscribing-you1 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.actions10,
.newsletter1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.actions10 {
  align-self: stretch;
  gap: var(--gap-base);
  font-size: var(--text-tiny-normal-size);
  font-family: var(--text-small-link);
}
.newsletter1 {
  width: 500px;
  gap: var(--gap-5xl);
  min-width: 500px;
}
.blog1,
.resources1 {
  position: relative;
  line-height: 150%;
}
.resources1 {
  align-self: stretch;
  font-weight: 600;
}
.blog1 {
  flex: 1;
}
.link15 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.time-capsule2 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link16 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.starting-a-journey1 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link17 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.useful-tools1 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link18,
.link19 {
  align-self: stretch;
}
.link18 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link19 {
  height: 37px;
  display: none;
}
.column18,
.footer-links3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-links3 {
  align-self: stretch;
  font-size: var(--text-small-link-size);
  color: var(--color-steelblue-200);
  font-family: var(--text-small-link);
}
.column18 {
  flex: 1;
  overflow: hidden;
  gap: var(--gap-base);
  min-width: 151px;
}
.helpful-links1,
.home1 {
  position: relative;
  line-height: 150%;
}
.helpful-links1 {
  align-self: stretch;
  font-weight: 600;
}
.home1 {
  flex: 1;
}
.link20 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.about-us1 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link21 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.how-it-works1 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link22 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.time-capsule3 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link23 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.create-a-time1 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.column19,
.footer-links4,
.link24 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link24 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-5xs) 0;
}
.column19,
.footer-links4 {
  flex-direction: column;
}
.footer-links4 {
  align-self: stretch;
  font-size: var(--text-small-link-size);
  color: var(--color-steelblue-200);
  font-family: var(--text-small-link);
}
.column19 {
  flex: 1;
  overflow: hidden;
  gap: var(--gap-base);
  min-width: 151px;
}
.follow-us1 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.icon-facebook1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.facebook1 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 60px;
}
.link25 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-86xl) var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.icon-instagram1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.instagram1 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 65px;
}
.link26 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-81xl) var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.icon-x1,
.x1 {
  position: relative;
}
.icon-x1 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.x1 {
  line-height: 150%;
  display: inline-block;
  min-width: 43px;
}
.link27 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-103xl) var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.icon-linkedin1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.linkedin1 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 55px;
}
.link28 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-91xl) var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.icon-youtube1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.youtube1 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 52px;
}
.link29 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-94xl) var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.social-links1 {
  align-self: stretch;
  flex-direction: column;
  font-size: var(--text-small-link-size);
  color: var(--color-steelblue-200);
  font-family: var(--text-small-link);
}
.column20,
.links1,
.social-links1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.column20 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
  min-width: 151px;
}
.links1 {
  width: 684px;
  flex-direction: row;
  gap: var(--gap-21xl);
  min-width: 684px;
  max-width: 100%;
}
.content27,
.divider3 {
  align-self: stretch;
  box-sizing: border-box;
}
.content27 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 var(--padding-5xs);
  max-width: 100%;
  gap: var(--gap-xl);
}
.divider3 {
  height: 1px;
  position: relative;
  background-color: var(--link-primary);
  border: 1px solid var(--link-primary);
}
.relume-all-rights1 {
  position: relative;
  line-height: 150%;
}
.privacy-policy1 {
  display: inline-block;
  min-width: 87px;
}
.cookies-settings1,
.privacy-policy1,
.terms-of-service1 {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
}
.cookies-settings1 {
  display: inline-block;
  min-width: 99px;
}
.footer-links5,
.row3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.row3 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.a-home,
.credits1,
.footer-11 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.credits1 {
  align-self: stretch;
  gap: var(--gap-13xl);
  max-width: 100%;
  font-size: var(--text-small-link-size);
  font-family: var(--text-small-link);
}
.a-home,
.footer-11 {
  overflow: hidden;
}
.footer-11 {
  align-self: stretch;
  background-color: var(--color-darkgray-100);
  padding: var(--padding-61xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--link-primary);
  font-family: var(--text-regular-semi-bold);
}
.a-home {
  width: 100%;
  position: relative;
  letter-spacing: normal;
  line-height: normal;
}
@media screen and (max-width: 1325px) {
  .header-17 {
    padding-top: var(--padding-54xl);
    padding-bottom: var(--padding-54xl);
    box-sizing: border-box;
  }
  .links1,
  .newsletter1 {
    flex: 1;
  }
  .content27 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .column9 {
    display: none;
  }
  .column8 {
    width: 270px;
  }
  .links1 {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .actions6 {
    display: none;
  }
  .column8 {
    width: 469px;
    gap: var(--gap-base);
  }
  .navbar-11 {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .medium-length-hero {
    font-size: var(--font-size-19xl);
    line-height: 46px;
  }
  .column10,
  .column11 {
    min-width: 100%;
  }
  .content19,
  .header-17 {
    gap: var(--gap-21xl);
  }
  .header-17 {
    padding: var(--padding-28xl) var(--padding-13xl);
    box-sizing: border-box;
  }
  .heading11 {
    font-size: var(--heading-desktop-h3-size);
    line-height: 38px;
  }
  .content21,
  .row2 {
    gap: var(--gap-5xl);
  }
  .layout-2391 {
    gap: var(--gap-21xl);
    padding: var(--padding-54xl) var(--padding-13xl);
    box-sizing: border-box;
  }
  .heading15 {
    font-size: var(--heading-desktop-h3-size);
    line-height: 38px;
  }
  .column15,
  .column16 {
    gap: var(--gap-base);
    min-width: 100%;
  }
  .content25 {
    gap: var(--gap-13xl);
  }
  .testimonial-5 {
    gap: var(--gap-21xl);
    padding: var(--padding-54xl) var(--padding-13xl);
    box-sizing: border-box;
  }
  .heading16 {
    font-size: var(--heading-desktop-h3-size);
    line-height: 38px;
  }
  .column17,
  .placeholder-image-icon8 {
    min-width: 100%;
  }
  .container5,
  .cta-1 {
    gap: var(--gap-21xl);
  }
  .cta-1 {
    padding: var(--padding-52xl) var(--padding-12xl);
    box-sizing: border-box;
  }
  .newsletter1 {
    min-width: 100%;
  }
  .links1 {
    gap: var(--gap-xl);
  }
  .links1,
  .row3 {
    flex-wrap: wrap;
  }
  .credits1 {
    gap: var(--gap-base);
  }
  .footer-11 {
    gap: var(--gap-21xl);
    padding: var(--padding-33xl) var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .medium-length-hero {
    font-size: var(--font-size-10xl);
    line-height: 35px;
  }
  .content19,
  .header-17 {
    gap: var(--gap-xl);
  }
  .heading11,
  .heading12 {
    font-size: var(--heading-desktop-h5-size);
    line-height: 29px;
  }
  .heading12 {
    font-size: var(--font-size-3xl);
  }
  .column12 {
    gap: var(--gap-base);
  }
  .heading13 {
    font-size: var(--font-size-3xl);
    line-height: 29px;
  }
  .column13 {
    gap: var(--gap-base);
  }
  .heading14 {
    font-size: var(--font-size-3xl);
    line-height: 29px;
  }
  .column14 {
    gap: var(--gap-base);
  }
  .layout-2391 {
    gap: var(--gap-xl);
  }
  .heading15 {
    font-size: var(--heading-desktop-h5-size);
    line-height: 29px;
  }
  .quote1,
  .quote2 {
    font-size: var(--text-regular-semi-bold-size);
    line-height: 22px;
  }
  .content25 {
    gap: var(--gap-base);
  }
  .testimonial-5 {
    gap: var(--gap-xl);
  }
  .heading16 {
    font-size: var(--heading-desktop-h5-size);
    line-height: 29px;
  }
  .container5,
  .cta-1 {
    gap: var(--gap-xl);
  }
  .footer-links5,
  .form1 {
    flex-wrap: wrap;
  }
  .footer-11 {
    gap: var(--gap-xl);
  }
}
