.echoeback-logo-250-x-150-px3 {
  height: 66px;
  width: 158px;
  position: relative;
  object-fit: cover;
  cursor: pointer;
}
.content40 {
  height: 27px;
  width: 63px;
}
.link-one3,
.link-three3,
.link-two3,
.team4 {
  position: relative;
  line-height: 150%;
  cursor: pointer;
}
.link-one3 {
  white-space: nowrap;
}
.link-three3,
.link-two3,
.team4 {
  display: inline-block;
}
.link-two3 {
  min-width: 95px;
  white-space: nowrap;
}
.link-three3,
.team4 {
  min-width: 62px;
}
.team4 {
  min-width: 40px;
}
.chevron-down-icon3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.column28,
.nav-link-dropdown3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.column28 {
  flex: 1;
  overflow: hidden;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
}
.button53 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 32px;
}
.button52 {
  width: 72px;
  background-color: var(--color-steelblue-200);
  border: 1px solid var(--color-steelblue-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-lgi);
  cursor: pointer;
}
.button55 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-regular-semi-bold);
  color: var(--color-neutral-white);
  text-align: left;
  display: inline-block;
  min-width: 110px;
}
.actions14,
.button54 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button54 {
  cursor: pointer;
  border: 1px solid var(--color-steelblue-200);
  padding: var(--padding-7xs) var(--padding-lgi);
  background-color: var(--color-steelblue-200);
  white-space: nowrap;
}
.button54:hover,
.button56:hover {
  background-color: var(--color-steelblue-100);
  border: 1px solid var(--color-steelblue-100);
  box-sizing: border-box;
}
.actions14 {
  gap: var(--gap-base);
  color: var(--color-mintcream-100);
}
.column27,
.container8,
.navbar-13 {
  display: flex;
  align-items: center;
  max-width: 100%;
}
.column27 {
  width: 707px;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-13xl);
}
.container8,
.navbar-13 {
  align-self: stretch;
}
.container8 {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.navbar-13 {
  background-color: var(--color-mintcream-200);
  border-bottom: 1px solid var(--link-primary);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-10xs) var(--padding-45xl) var(--padding-12xs);
  top: 0;
  z-index: 99;
  position: sticky;
  text-align: left;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--color-neutral-neutral-darkest);
  font-family: var(--text-regular-semi-bold);
}
.subheading3 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
  white-space: pre-wrap;
}
.description,
.heading20 {
  align-self: stretch;
  position: relative;
}
.heading20 {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
}
.description {
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--link-primary);
}
.content42,
.section-title5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content42 {
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--heading-desktop-h2-size);
  color: var(--color-steelblue-200);
  font-family: var(--heading-desktop-h2);
}
.section-title5 {
  gap: var(--gap-base);
}
.button57 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-regular-semi-bold);
  color: var(--color-mintcream-100);
  text-align: left;
  display: inline-block;
  min-width: 110px;
}
.button56 {
  cursor: pointer;
  border: 1px solid var(--color-steelblue-200);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: var(--color-steelblue-200);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button59 {
  align-self: stretch;
  width: 0;
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.icon-chevron-right2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  min-height: 24px;
}
.button58 {
  height: 24px;
  width: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.actions15,
.content41 {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.actions15 {
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) 0 0;
  text-align: left;
}
.content41 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  min-width: 400px;
  max-width: 100%;
}
.placeholder-image-icon14 {
  height: 640px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  min-width: 400px;
}
.container9,
.layout-1 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.container9 {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--gap-61xl);
}
.layout-1 {
  background-color: var(--color-mintcream-200);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--border-success);
  font-family: var(--text-regular-semi-bold);
}
.tagline1 {
  width: 57px;
  position: relative;
  line-height: 150%;
  font-weight: 600;
  display: inline-block;
  min-width: 57px;
}
.heading21,
.text27 {
  align-self: stretch;
  position: relative;
}
.heading21 {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
}
.text27 {
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--link-primary);
}
.content43,
.section-title6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content43 {
  align-self: stretch;
  gap: var(--gap-5xl);
  font-size: var(--heading-desktop-h2-size);
  color: var(--color-steelblue-200);
  font-family: var(--heading-desktop-h2);
}
.section-title6 {
  width: 768px;
  gap: var(--gap-base);
  max-width: 100%;
}
.icon-user-voice {
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.heading22,
.text28 {
  align-self: stretch;
  position: relative;
}
.heading22 {
  margin: 0;
  font-size: inherit;
  line-height: 130%;
  font-weight: 400;
  font-family: inherit;
}
.text28 {
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-regular-semi-bold);
  color: var(--link-primary);
}
.column29,
.content45 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.content45 {
  align-self: stretch;
}
.column29 {
  flex: 1;
  min-width: 304px;
  max-width: 100%;
}
.icon-time {
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.heading23,
.text29 {
  align-self: stretch;
  position: relative;
}
.heading23 {
  margin: 0;
  height: 72px;
  font-size: inherit;
  letter-spacing: -0.14px;
  line-height: 130%;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.text29 {
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-regular-semi-bold);
  color: var(--link-primary);
}
.column30,
.content46 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.content46 {
  align-self: stretch;
}
.column30 {
  flex: 1;
  min-width: 304px;
  max-width: 100%;
}
.icon-calendar-check {
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.heading24,
.text30 {
  align-self: stretch;
  position: relative;
}
.heading24 {
  margin: 0;
  font-size: inherit;
  line-height: 130%;
  font-weight: 400;
  font-family: inherit;
}
.text30 {
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-regular-semi-bold);
  color: var(--link-primary);
}
.column31,
.content47,
.row7 {
  display: flex;
  justify-content: flex-start;
}
.content47 {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xl);
}
.column31,
.row7 {
  max-width: 100%;
}
.column31 {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xl);
  min-width: 304px;
}
.row7 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--gap-29xl);
}
.button61 {
  position: relative;
  line-height: 150%;
}
.button60 {
  height: 50px;
  background-color: rgba(14, 115, 170, 0.6);
  border: 1px solid var(--link-primary);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
  white-space: nowrap;
}
.button63 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  white-space: nowrap;
}
.icon-chevron-right3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button62 {
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  color: var(--border-success);
}
.actions16,
.content44,
.layout-237 {
  align-items: center;
  justify-content: flex-start;
}
.actions16 {
  width: 200px;
  height: 64px;
  display: none;
  flex-direction: row;
  padding: var(--padding-base) 0 0;
  box-sizing: border-box;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--link-primary);
  font-family: var(--text-regular-semi-bold);
}
.content44,
.layout-237 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: var(--gap-29xl);
  max-width: 100%;
  font-size: var(--heading-desktop-h4-size);
  color: var(--color-steelblue-200);
  font-family: var(--heading-desktop-h2);
}
.layout-237 {
  background-color: var(--color-mintcream-100);
  overflow: hidden;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  text-align: center;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--border-success);
  font-family: var(--text-regular-semi-bold);
}
.heading25,
.text31 {
  align-self: stretch;
  position: relative;
}
.heading25 {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
}
.text31 {
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--link-primary);
}
.content49 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.button65 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-regular-semi-bold);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 81px;
}
.button64 {
  cursor: pointer;
  border: 1px solid var(--link-primary);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: var(--color-neutral-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.button64:hover,
.button66:hover {
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.button67 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-regular-semi-bold);
  color: var(--color-neutral-white);
  text-align: left;
  display: inline-block;
  min-width: 32px;
}
.button66 {
  cursor: pointer;
  border: 1px solid var(--color-neutral-white);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: var(--color-goldenrod);
  width: 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button66:hover {
  background-color: var(--color-darkgoldenrod);
  border: 1px solid var(--color-gainsboro-100);
}
.actions17,
.content48,
.cta-27 {
  display: flex;
  justify-content: flex-start;
}
.actions17 {
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-base) 0 0;
  gap: var(--gap-base);
}
.content48,
.cta-27 {
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}
.content48 {
  width: 768px;
  gap: var(--gap-5xl);
}
.cta-27 {
  align-self: stretch;
  background-color: var(--color-darkgray-100);
  overflow: hidden;
  padding: var(--padding-93xl) var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--heading-desktop-h2-size);
  color: var(--border-success);
  font-family: var(--heading-desktop-h2);
}
.faqs,
.text32 {
  align-self: stretch;
  position: relative;
}
.faqs {
  margin: 0;
  font-size: inherit;
  line-height: 120%;
  font-weight: 400;
  font-family: inherit;
}
.text32 {
  font-size: var(--text-medium-normal-size);
  line-height: 150%;
  font-family: var(--text-small-link);
  color: var(--link-primary);
}
.content50 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.button69 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-regular-semi-bold);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 56px;
}
.button68 {
  cursor: pointer;
  border: 1px solid var(--link-primary);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: var(--color-neutral-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.button68:hover,
.button70:hover {
  background-color: var(--color-gainsboro-100);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
}
.section-title7 {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  min-width: 500px;
  max-width: 100%;
}
.question1 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 205px;
  max-width: 100%;
}
.icon {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.question {
  align-self: stretch;
  border-top: 1px solid var(--color-steelblue-200);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lg) 0 var(--padding-xl);
  gap: var(--gap-5xl);
  max-width: 100%;
}
.text33 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.accordion-item,
.answer {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.answer {
  flex-direction: row;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--link-primary);
  font-family: var(--text-regular-semi-bold);
}
.accordion-item {
  flex-direction: column;
}
.question3 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 275px;
  max-width: 100%;
}
.icon1 {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.question2 {
  align-self: stretch;
  border-top: 1px solid var(--color-steelblue-200);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lg) 0 var(--padding-xl);
  gap: var(--gap-5xl);
  max-width: 100%;
}
.text34 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.accordion-item1,
.answer1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.answer1 {
  flex-direction: row;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--link-primary);
  font-family: var(--text-regular-semi-bold);
}
.accordion-item1 {
  flex-direction: column;
}
.question5 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 305px;
  max-width: 100%;
}
.icon2 {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.question4 {
  align-self: stretch;
  border-top: 1px solid var(--color-steelblue-200);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lg) 0 var(--padding-xl);
  gap: var(--gap-5xl);
  max-width: 100%;
}
.text35 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.accordion-item2,
.answer2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.answer2 {
  flex-direction: row;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--link-primary);
  font-family: var(--text-regular-semi-bold);
}
.accordion-item2 {
  flex-direction: column;
}
.question7 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 222px;
  max-width: 100%;
}
.icon3 {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.question6 {
  align-self: stretch;
  border-top: 1px solid var(--color-steelblue-200);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lg) 0 var(--padding-xl);
  gap: var(--gap-5xl);
  max-width: 100%;
}
.text36 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.accordion-item3,
.answer3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.answer3 {
  flex-direction: row;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--link-primary);
  font-family: var(--text-regular-semi-bold);
}
.accordion-item3 {
  flex-direction: column;
}
.question9 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 195px;
  max-width: 100%;
}
.icon4 {
  height: 32px;
  width: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.question8 {
  align-self: stretch;
  border-top: 1px solid var(--color-steelblue-200);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lg) 0 var(--padding-xl);
  gap: var(--gap-5xl);
  max-width: 100%;
}
.text37 {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.answer4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-5xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--link-primary);
  font-family: var(--text-regular-semi-bold);
}
.accordion-item4 {
  align-self: stretch;
  flex-direction: column;
}
.accordion,
.accordion-item4,
.container10,
.faq-3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.accordion {
  flex: 1;
  border-bottom: 1px solid var(--color-steelblue-200);
  box-sizing: border-box;
  flex-direction: column;
  min-width: 476px;
  font-size: var(--text-medium-normal-size);
  font-family: var(--text-small-link);
}
.container10,
.faq-3 {
  align-self: stretch;
}
.container10 {
  flex-direction: row;
  gap: var(--gap-61xl);
}
.faq-3 {
  background-color: #a9a9a9;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--heading-desktop-h2-size);
  color: var(--color-steelblue-200);
  font-family: var(--heading-desktop-h2);
}
.company-logo-icon3 {
  width: 63px;
  height: 27px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.join-our-newsletter3 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.placeholder3 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--text-regular-semi-bold);
  font-size: var(--text-regular-semi-bold-size);
  background-color: transparent;
  height: 24px;
  flex: 1;
  position: relative;
  line-height: 150%;
  color: var(--color-neutral-neutral);
  text-align: left;
  display: inline-block;
  min-width: 205px;
  max-width: 100%;
  padding: 0;
}
.text-input3 {
  flex: 1;
  background-color: var(--color-neutral-white);
  border: 1px solid var(--color-neutral-neutral-dark);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-2xs);
  min-width: 237px;
  max-width: 100%;
}
.button71 {
  position: relative;
  font-size: var(--text-regular-semi-bold-size);
  line-height: 150%;
  font-family: var(--text-regular-semi-bold);
  color: var(--link-primary);
  text-align: left;
  display: inline-block;
  min-width: 71px;
}
.button70,
.form3 {
  display: flex;
  flex-direction: row;
}
.button70 {
  cursor: pointer;
  border: 1px solid var(--color-neutral-neutral-dark);
  padding: var(--padding-3xs) var(--padding-4xl);
  background-color: transparent;
  align-items: center;
  justify-content: center;
}
.button70:hover {
  background-color: var(--color-dimgray-200);
  border: 1px solid var(--color-dimgray-100);
}
.form3 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.by-subscribing-you3 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.actions18,
.newsletter3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.actions18 {
  align-self: stretch;
  gap: var(--gap-base);
  font-size: var(--text-tiny-normal-size);
  font-family: var(--text-small-link);
}
.newsletter3 {
  width: 500px;
  gap: var(--gap-5xl);
  min-width: 500px;
}
.blog3,
.resources3 {
  position: relative;
  line-height: 150%;
}
.resources3 {
  align-self: stretch;
  font-weight: 600;
}
.blog3 {
  flex: 1;
}
.link45 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.time-capsule6 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link46 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.starting-a-journey3 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link47 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.useful-tools3 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link48,
.link49 {
  align-self: stretch;
}
.link48 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.link49 {
  height: 37px;
  display: none;
}
.column32,
.footer-links9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-links9 {
  align-self: stretch;
  font-size: var(--text-small-link-size);
  color: var(--color-steelblue-200);
  font-family: var(--text-small-link);
}
.column32 {
  flex: 1;
  overflow: hidden;
  gap: var(--gap-base);
  min-width: 151px;
}
.helpful-links3,
.home3 {
  position: relative;
  line-height: 150%;
}
.helpful-links3 {
  align-self: stretch;
  font-weight: 600;
}
.home3 {
  flex: 1;
}
.link50 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.about-us3 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link51 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.how-it-works3 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link52 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.time-capsule7 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.link53 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.create-a-time3 {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.column33,
.footer-links10,
.link54 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link54 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-5xs) 0;
}
.column33,
.footer-links10 {
  flex-direction: column;
}
.footer-links10 {
  align-self: stretch;
  font-size: var(--text-small-link-size);
  color: var(--color-steelblue-200);
  font-family: var(--text-small-link);
}
.column33 {
  flex: 1;
  overflow: hidden;
  gap: var(--gap-base);
  min-width: 151px;
}
.follow-us3 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.icon-facebook3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.facebook3 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 60px;
}
.link55 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-86xl) var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.icon-instagram3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.instagram3 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 65px;
}
.link56 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-81xl) var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.icon-x7,
.x3 {
  position: relative;
}
.icon-x7 {
  height: 24px;
  width: 24px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.x3 {
  line-height: 150%;
  display: inline-block;
  min-width: 43px;
}
.link57 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-103xl) var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.icon-linkedin7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.linkedin3 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 55px;
}
.link58 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-91xl) var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.icon-youtube3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.youtube3 {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 52px;
}
.link59 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-94xl) var(--padding-5xs) 0;
  gap: var(--gap-xs);
}
.social-links3 {
  align-self: stretch;
  flex-direction: column;
  font-size: var(--text-small-link-size);
  color: var(--color-steelblue-200);
  font-family: var(--text-small-link);
}
.column34,
.links3,
.social-links3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.column34 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
  min-width: 151px;
}
.links3 {
  width: 684px;
  flex-direction: row;
  gap: var(--gap-21xl);
  min-width: 684px;
  max-width: 100%;
}
.content51,
.divider5 {
  align-self: stretch;
  box-sizing: border-box;
}
.content51 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 var(--padding-5xs);
  max-width: 100%;
  gap: var(--gap-xl);
}
.divider5 {
  height: 1px;
  position: relative;
  background-color: var(--link-primary);
  border: 1px solid var(--link-primary);
}
.relume-all-rights3 {
  position: relative;
  line-height: 150%;
}
.privacy-policy3 {
  display: inline-block;
  min-width: 87px;
}
.cookies-settings3,
.privacy-policy3,
.terms-of-service3 {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
}
.cookies-settings3 {
  display: inline-block;
  min-width: 99px;
}
.footer-links11,
.row8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.row8 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.credits3,
.footer-13,
.time-capsules {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.credits3 {
  align-self: stretch;
  gap: var(--gap-13xl);
  max-width: 100%;
  font-size: var(--text-small-link-size);
  font-family: var(--text-small-link);
}
.footer-13,
.time-capsules {
  overflow: hidden;
}
.footer-13 {
  align-self: stretch;
  background-color: var(--color-darkgray-100);
  padding: var(--padding-61xl) var(--padding-45xl);
  box-sizing: border-box;
  gap: var(--gap-61xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--link-primary);
  font-family: var(--text-regular-semi-bold);
}
.time-capsules {
  width: 100%;
  position: relative;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1325px) {
  .section-title7 {
    flex: 1;
  }
  .container10 {
    flex-wrap: wrap;
  }
  .links3,
  .newsletter3 {
    flex: 1;
  }
  .content51 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1125px) {
  .column28 {
    display: none;
  }
  .column27 {
    width: 270px;
  }
  .layout-1 {
    padding-top: var(--padding-54xl);
    padding-bottom: var(--padding-54xl);
    box-sizing: border-box;
  }
  .cta-27 {
    gap: var(--gap-21xl);
  }
  .faq-3 {
    padding-top: var(--padding-54xl);
    padding-bottom: var(--padding-54xl);
    box-sizing: border-box;
  }
  .links3 {
    min-width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .actions14 {
    display: none;
  }
  .column27 {
    width: 469px;
    gap: var(--gap-base);
  }
  .navbar-13 {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .heading20 {
    font-size: var(--heading-desktop-h3-size);
    line-height: 38px;
  }
  .content41,
  .placeholder-image-icon14 {
    min-width: 100%;
  }
  .container9,
  .layout-1 {
    gap: var(--gap-21xl);
  }
  .layout-1 {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-13xl);
    box-sizing: border-box;
  }
  .heading21 {
    font-size: var(--heading-desktop-h3-size);
    line-height: 38px;
  }
  .content44,
  .row7 {
    gap: var(--gap-5xl);
  }
  .layout-237 {
    gap: var(--gap-21xl);
    padding: var(--padding-54xl) var(--padding-13xl);
    box-sizing: border-box;
  }
  .faqs,
  .heading25 {
    font-size: var(--heading-desktop-h3-size);
    line-height: 38px;
  }
  .section-title7 {
    gap: var(--gap-base);
    min-width: 100%;
  }
  .question,
  .question2,
  .question4,
  .question6,
  .question8 {
    flex-wrap: wrap;
  }
  .accordion {
    min-width: 100%;
  }
  .container10,
  .faq-3 {
    gap: var(--gap-21xl);
  }
  .faq-3 {
    padding: var(--padding-28xl) var(--padding-13xl);
    box-sizing: border-box;
  }
  .newsletter3 {
    min-width: 100%;
  }
  .links3 {
    gap: var(--gap-xl);
  }
  .links3,
  .row8 {
    flex-wrap: wrap;
  }
  .credits3 {
    gap: var(--gap-base);
  }
  .footer-13 {
    gap: var(--gap-21xl);
    padding: var(--padding-33xl) var(--padding-13xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading20 {
    font-size: var(--heading-desktop-h5-size);
    line-height: 29px;
  }
  .container9,
  .layout-1 {
    gap: var(--gap-xl);
  }
  .layout-1 {
    padding-top: var(--padding-28xl);
    padding-bottom: var(--padding-28xl);
    box-sizing: border-box;
  }
  .heading21 {
    font-size: var(--heading-desktop-h5-size);
    line-height: 29px;
  }
  .heading22,
  .heading23,
  .heading24 {
    font-size: var(--font-size-3xl);
    line-height: 29px;
  }
  .layout-237 {
    gap: var(--gap-xl);
  }
  .heading25 {
    font-size: var(--heading-desktop-h5-size);
    line-height: 29px;
  }
  .cta-27 {
    gap: var(--gap-xl);
    padding-top: var(--padding-54xl);
    padding-bottom: var(--padding-54xl);
    box-sizing: border-box;
  }
  .faqs {
    font-size: var(--heading-desktop-h5-size);
    line-height: 29px;
  }
  .container10,
  .faq-3 {
    gap: var(--gap-xl);
  }
  .footer-links11,
  .form3 {
    flex-wrap: wrap;
  }
  .footer-13 {
    gap: var(--gap-xl);
  }
}
